@{
    ViewBag.Title = "Home Page";
}

<section id="introduction">
    <img class="logo" src="~/images/logo.png" />

    <div class="slider responsive" style="width:70%;">
        <div><img src="~/images/carousel/one.jpg" /></div>
        <div><img src="~/images/carousel/two.jpg" /></div>
        <div><img src="~/images/carousel/three.jpg" /></div>
        <div><img src="~/images/carousel/four.jpg" /></div>
    </div>
    <div class="inner">&nbsp;</div>
</section>


<section id="about">



    <div class="8u -2u 12u(mobile)">
        <div class="row">
            <div class="6u 10u(mobile) -1u(mobile)">
                <section id="location_right">


                    <span class="avatar avatar--large">
                        <img class="avatar-image" src="~/images/profile.jpg" />
                    </span>

                </section>
            </div>
            <div class="6u 10u(mobile) -1u(mobile)">
                <section>
                    <h2 class="subheading" style="color:#000;">Hi! I'm Amber,</h2>
                    <h3 class="about-description">and I've been styling hair since 2006.  </h3>
                    <ul class="actions">
                        <li>@Html.ActionLink("About Me", "About", "Home", null, new {@class="button alt2"})</li>
                    </ul>

                </section>
            </div>

        </div>
    </div>
</section>

<section id="marketing">


    <div class="row">
        @*<div class="3u -2u 12u(mobile)">


            </div>*@
        <div class="8u -2u 12u(mobile)">
            <div class="row">
                <div class="6u  10u(mobile) -1u(mobile)">
                    <section id="menu_left">

                        <h2 class="subheading">Menu</h2>
                        <img class="section-icon" src="~/images/menuIcon.png" />

                    </section>
                </div>

                <div class="6u 10u(mobile) -1u(mobile)">
                    <section id="menu-description">

                        <h3 class="section-description">I offer a wide variety of services including:</h3>
                        <div class="row">
                            <div class="6u">
                                <ul class="section-list">
                                    <li>Balayage</li>
                                    <li>Color</li>
                                    <li>Dreadlock Maintenance</li>
                                </ul>
                            </div>
                            <div class="6u">
                                <ul class="section-list">
                                    <li>Cut</li>
                                    <li>Bob</li>
                                    <li>Weave</li>
                                </ul>
                            </div>
                        </div>
                        <ul class="actions">
                            <li>@Html.ActionLink("View Menu", "Menu", "Home", null, new { @class = "button alt" })</li>
                        </ul>

                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="location">



    <div class="8u -2u 12u(mobile)">
        <div class="row">
            <div class="6u 10u(mobile) -1u(mobile)">
                <section id="location_right">


                    <span class="avatar avatar--large">
                        <img class="avatar-image" src="~/images/rinse.jpg" />
                    </span>
                </section>
            </div>
            <div class="6u 10u(mobile) -1u(mobile)">
                <section>
                    <h2 class="subheading" style="color:#000;">Location</h2>
                    <h3 class="location-description">Convieniently located at the award winning Rinse Salon, in the bustling neighborhood of North Park.</h3>

                    <ul class="actions">
                        <li>@Html.ActionLink("Get Directions", "Contact", "Home", null, new { @class = "button alt2" })</li>
                    </ul>
                </section>
            </div>
          
        </div>
    </div>
</section>
