@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}



<div class="10u -1u ">
    <div class="row">
        <div style="text-align:center" class="12u 10u(mobile) -1u(mobile)">

            <h2 class="menu-subheading">Menu</h2>
            <h3 class="about-description">From cuts, color, to styling I offer a wide variety services<br /> to make you look your best!</h3>

        </div>

    </div>

    <div class="page">

        <div class="row row-header">
            <div style="text-align:center" class="12u 10u(mobile) -1u(mobile)">
                <img class="menu-image" src="~/images/cut.png" />
                <h3 class="subheading" style="color:#000;">Cuts</h3>
            </div>

        </div>
        <div class="row">

            <div style="text-align:center; " class="5u -1u 10u(mobile) -1u(mobile)">
                <div class="menu-item">
                    <div class="option">
                        <span>Women - $55+</span>
                    </div>
                    <div class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dictum arcu nec metus dictum varius. Maecenas vitae mauris ex. Ut at tristique diam. Nullam eu mauris sed lectus finibus ultricies et quis nibh. Morbi metus ante, luctus vitae erat lobortis, fringilla faucibus lacus.
                    </div>
                </div>
            </div>
            <div style="text-align:center" class="5u  10u(mobile) -1u(mobile)">
                <div class="menu-item">
                    <div class="option">
                        <span>Men - $40+</span>
                    </div>
                    <div class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dictum arcu nec metus dictum varius. Maecenas vitae mauris ex. Ut at tristique diam. Nullam eu mauris sed lectus finibus ultricies et quis nibh. Morbi metus ante, luctus vitae erat lobortis, fringilla faucibus lacus.
                    </div>
                </div>
            </div>

        </div>

        <div class="row  row-header">
            <div class="8u -2u">
                <span class="menu-divider">&nbsp;</span>
            </div>
        </div>
        <div class="row">
            <div style="text-align:center" class="12u 10u(mobile) -1u(mobile)">
                <img class="menu-image" src="~/images/color.png" />
                <h3 class="subheading" style="color:#000;">Color</h3>
            </div>

        </div>
        <div class="row">
            <div style="text-align:center" class="5u -1u  10u(mobile) -1u(mobile)">
                <div class="menu-item">
                    <div class="option">
                        <span>Partial Highlight - $85+</span>
                    </div>
                    <div class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dictum arcu nec metus dictum varius. Maecenas vitae mauris ex. Ut at tristique diam. Nullam eu mauris sed lectus finibus ultricies et quis nibh. Morbi metus ante, luctus vitae erat lobortis, fringilla faucibus lacus.
                    </div>
                </div>
            </div>
            <div style="text-align:center" class="5u   10u(mobile) -1u(mobile)">
                <div class="menu-item">
                    <div class="option">
                        <span>Full Highlight - $110+</span>
                    </div>
                    <div class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dictum arcu nec metus dictum varius. Maecenas vitae mauris ex. Ut at tristique diam. Nullam eu mauris sed lectus finibus ultricies et quis nibh. Morbi metus ante, luctus vitae erat lobortis, fringilla faucibus lacus.
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div style="text-align:center" class="5u -1u  10u(mobile) -1u(mobile)">
                <div class="menu-item">
                    <div class="option">
                        <span>Single Color Retouch - $65+</span>
                    </div>
                    <div class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dictum arcu nec metus dictum varius. Maecenas vitae mauris ex. Ut at tristique diam. Nullam eu mauris sed lectus finibus ultricies et quis nibh. Morbi metus ante, luctus vitae erat lobortis, fringilla faucibus lacus.
                    </div>
                    <div class="price">
                        $65 and up
                    </div>
                </div>
            </div>
            <div style="text-align:center" class="5u   10u(mobile) -1u(mobile)">
                <div class="menu-item">
                    <div class="option">
                        <span>Single Full Color - $95+</span>
                    </div>
                    <div class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dictum arcu nec metus dictum varius. Maecenas vitae mauris ex. Ut at tristique diam. Nullam eu mauris sed lectus finibus ultricies et quis nibh. Morbi metus ante, luctus vitae erat lobortis, fringilla faucibus lacus.
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div style="text-align:center" class="5u -1u  10u(mobile) -1u(mobile)">
                <div class="menu-item">
                    <div class="option">
                        <span>Partial Highlight &amp; Base Color - $150+</span>
                    </div>
                    <div class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dictum arcu nec metus dictum varius. Maecenas vitae mauris ex. Ut at tristique diam. Nullam eu mauris sed lectus finibus ultricies et quis nibh. Morbi metus ante, luctus vitae erat lobortis, fringilla faucibus lacus.
                    </div>
                </div>
            </div>
            <div style="text-align:center" class="5u   10u(mobile) -1u(mobile)">
                <div class="menu-item">
                    <div class="option">
                        <span>Bayalage - $95+</span>
                    </div>
                    <div class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dictum arcu nec metus dictum varius. Maecenas vitae mauris ex. Ut at tristique diam. Nullam eu mauris sed lectus finibus ultricies et quis nibh. Morbi metus ante, luctus vitae erat lobortis, fringilla faucibus lacus.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div style="text-align:center" class="5u -1u  10u(mobile) -1u(mobile)">
                <div class="menu-item">
                    <div class="option">
                        <span>Ombre - $120+</span>
                    </div>
                    <div class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dictum arcu nec metus dictum varius. Maecenas vitae mauris ex. Ut at tristique diam. Nullam eu mauris sed lectus finibus ultricies et quis nibh. Morbi metus ante, luctus vitae erat lobortis, fringilla faucibus lacus.
                    </div>
                </div>
            </div>
            <div style="text-align:center" class="5u   10u(mobile) -1u(mobile)">
                <div class="menu-item">
                    <div class="option">
                        <span>Color Correction - Per Consultation</span>
                    </div>
                    <div class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dictum arcu nec metus dictum varius. Maecenas vitae mauris ex. Ut at tristique diam. Nullam eu mauris sed lectus finibus ultricies et quis nibh. Morbi metus ante, luctus vitae erat lobortis, fringilla faucibus lacus.
                    </div>
                </div>
            </div>
        </div>


        <div class="row row-header">
            <div class="8u -2u">
                <span class="menu-divider">&nbsp;</span>
            </div>
        </div>
        <div class="row">
            <div style="text-align:center" class="12u 10u(mobile) -1u(mobile)">
                <img class="menu-image" src="~/images/style.png" />
                <h3 class="subheading" style="color:#000;">Styling</h3>
            </div>

        </div>
        <div class="row">
            <div style="text-align:center" class="5u -1u  10u(mobile) -1u(mobile)">
                <div class="menu-item">
                    <div class="option">
                        <span>Updos - $75+</span>
                    </div>
                    <div class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dictum arcu nec metus dictum varius. Maecenas vitae mauris ex. Ut at tristique diam. Nullam eu mauris sed lectus finibus ultricies et quis nibh. Morbi metus ante, luctus vitae erat lobortis, fringilla faucibus lacus.
                    </div>
                </div>
            </div>
            <div style="text-align:center" class="5u  10u(mobile) -1u(mobile)">
                <div class="menu-item">
                    <div class="option">
                        <span>Wash and Blowdry - $45+</span>
                    </div>
                    <div class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dictum arcu nec metus dictum varius. Maecenas vitae mauris ex. Ut at tristique diam. Nullam eu mauris sed lectus finibus ultricies et quis nibh. Morbi metus ante, luctus vitae erat lobortis, fringilla faucibus lacus.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div style="text-align:center" class="5u -1u  10u(mobile) -1u(mobile)">
                <div class="menu-item">
                    <div class="option">
                        <span>Dread Maintenance - $50+/hr</span>
                    </div>
                    <div class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dictum arcu nec metus dictum varius. Maecenas vitae mauris ex. Ut at tristique diam. Nullam eu mauris sed lectus finibus ultricies et quis nibh. Morbi metus ante, luctus vitae erat lobortis, fringilla faucibus lacus.
                    </div>
                </div>
            </div>
            <div style="text-align:center" class="5u  10u(mobile) -1u(mobile)">
                <div class="menu-item">
                    <div class="option">
                        <span>Yuko Straightening - Per Consultation</span>
                    </div>
                    <div class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dictum arcu nec metus dictum varius. Maecenas vitae mauris ex. Ut at tristique diam. Nullam eu mauris sed lectus finibus ultricies et quis nibh. Morbi metus ante, luctus vitae erat lobortis, fringilla faucibus lacus.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


